*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.nav-bar{
    height:5vh;
    background-color:antiquewhite;
    box-shadow:0 0 50px 5px black;
}

.container{
    width:80%;
    margin:auto;
}

ul{
    margin-left:auto;
    list-style: none;
}

li {
    margin:5px;
}

.color-change{
    padding:10px 20px ;
    outline: none;
    border:none;
    border-radius: 10px;
}

.color-change:hover{
    box-shadow: 0 0 10px 1px;
}

.container-center{
    width: 100%;
    height:95vh;
}

.centered{
    width:50%;
    padding:40px;
    border-radius: 10px;
    background-color:black;
    color:blanchedalmond;
}

#color-text{
    text-align: center;
}

#color{
    padding:10px 20px ;
    border-radius:10px;
    margin:20px auto;
}



/* Styling */

.d-flex{
    display: flex;
    flex-direction: column;
}

.y-flex{
    display:flex;
}

.just-cont{
    justify-content: center;
}

.alg-cent{
    align-items: center;
}